
html, body {
	margin: 0;
	padding: 0;
	height:100%;
	background: #FFFFFF url(../images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
}

.reduzido {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(../images/img01reduzida3.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #32639A;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #4486C7;
}

a:hover {
}

#wrapper {
	margin: 0 auto;
	padding: 0;	
	min-height:100%;
	position:relative;
	width:100%;	
}

/* Header */

#header {
	width: 940px;
	height: 148px;
	margin: 0 auto;
	background: url(../images/img04.jpg) no-repeat left 20px;
}

/* Logo */

#logo {
	float: left;
	margin: 0;
	padding-top: 30px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 80px;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 26px 0 0 10px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #FFFFFF;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}


/* Forgot */

#forgot {
	float: left;
	width: 255px;
	height: 97px;
	padding: 5px 0px 0px 0px;
	background: #A8CF64;
	border-bottom: 62px solid #FFFFFF;
}

#forgot form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#forgot fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#forgot-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#forgot .cl_login{
	margin-left: 11px;
	margin-bottom: 5px;
	font-family: tahoma;	
}

#forgot p {
	margin: 0;
	padding-top: 12px;
}

#forgot a{
	margin: 10px 25px 0px 0px;
	color: #FFFFE7; 
}

#forgot-submit {
	float: right;
	margin: 13px 42px 0px 0px;
	width: 50px;
	height: 23px;
	border: 1px solid #89B056;
	background: none;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
}

#edit-submit {
	float: right;
	margin: 13px 410px 0px 0px;
	width: 50px;
	height: 23px;
	border: 1px solid #89B056;
	background: none #89B056;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
}

/* Cadastro */

#cadastro {
	/* float: right; */
	width: 500px;
	height: 660px;
	padding: 0px 0px 0px 0px;
	margin: 0 -75px 0 0;
	background: #A8CF64;
	border-bottom: 62px solid #FFFFFF;
}

#cadastro form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#cadastro fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#cadastro-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

.cl_cadastro_nome {margin: 3px 0 10px; width: 325px;}
.cl_cadastro_email {margin: 3px 0 10px; width: 325px;}
.cl_cadastro_estado {margin: 3px 0 10px; width: 176px;}
.cl_cadastro_cidade {margin: 3px 0 10px; width: 176px;}
.cl_cadastro_cep {margin: 3px 0 10px; width: 81px;}
.cl_cadastro_sexo {margin: 3px 0 10px; width: 87px;}
.cl_cadastro_dtnasc {margin: 3px 0 10px; width: 81px;}
.cl_cadastro_escolaridade {margin: 3px 0 10px; width: 215px;}
.cl_cadastro_senha {margin: 3px 0 10px;}
.cl_cadastro_confsenha {margin: 3px 0 10px;}
.dv_cadastro_salvar {margin: 25px 95px 0;}
.dv_lnk_voltar {margin-top: -15px;} 
.lnk_voltar {float: left; margin: 10px 24px 0; font-size: 14px;}
.dv_cadastro_salvar #loader {display: none; padding: 15px 0px 0 88px;}

#cadastro input.error { border: 1px solid red; }

#cadastro label.error {
		background: url('/system/application/images/unchecked.gif') no-repeat;
		padding-left: 16px;		
		margin-left: 5px;
}

/* Esqueci minha senha */

#esqueci {
	/* float: right; */
	width: 455px;
	height: 125px;
	padding: 0px 0px 0px 0px;
	margin: 0 -34px 0 0;
	background: #A8CF64;
	border-bottom: 62px solid #FFFFFF;
}

#esqueci form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#esqueci fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#esqueci-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#esqueci input.error { border: 1px solid red; }

#esqueci label.error {
	background: url('/system/application/images/unchecked.gif') no-repeat;
	padding-left: 18px;
	margin-left: 61px;
}

.cl_esqueci_email {margin: 14px 0 2px; width: 325px;}
#esqueci .lnk_voltar { float: left; margin: 10px 24px 0; font-size: 14px;}
#esqueci .btn_senha_enviar {margin: 20px 103px 0;}
#esqueci #loader {display: none; padding: 15px 0px 0 88px;}

#esqueci .lb_esqueci_email{
	margin: 12px 0 0 0;
}

/* Editar Dados Usuário */

.post .title_editar {
	margin-bottom: 10px;
	padding: 12px 0 0 0;
	letter-spacing: -.5px;
	color: #000000;
}

#edicao {
	width: 660px;
	height: 425px;
	padding: 0;
	border-bottom: 62px solid #FFFFFF;
}

#edicao form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0;
}

#edicao fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#edicao-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}


.cl_edicao_nome {margin: 3px 9px 10px; width: 325px;}
.cl_edicao_email {margin: 3px 12px 10px; width: 325px;}
.cl_edicao_estado {margin: 3px 1px 10px; width: 176px;}
.cl_edicao_cidade {margin: 3px 1px 10px; width: 176px;}
.cl_edicao_cep {margin: 3px 21px 10px; width: 81px;}
.cl_edicao_sexo {margin: 3px 17px 10px; width: 87px;}
.cl_edicao_dtnasc {margin: 3px 10px 10px; width: 81px;}
.cl_edicao_escolaridade {margin: 3px 41px 10px; width: 215px;}
.cl_edicao_senha {margin: 3px 93px 10px;}
.cl_edicao_confsenha {margin: 3px 0 10px;}
.div_edicao_salvar {float: left; margin: 15px 0 0;}
.div_edicao_salvar #loader {display: none; padding: 10px 15px;}

#edicao input.error { border: 1px solid red; }

#edicao label.error {
		background: url('/system/application/images/unchecked.gif') no-repeat;
		padding-left: 16px;		
		margin-left: 5px;
}

#edicao-submit {
	float: right;
	margin: 10px 25px 0px 0px;
	width: 50px;
	height: 23px;
	border: 1px solid #32639A;
	background: #32639A;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

/* Esqueci minha senha Admin */

#esqueci_admin {
	/* float: right; */
	width: 455px;
	height: 125px;
	padding: 0px 0px 0px 0px;
	margin: 0 -34px 0 0;
	background: #D8E7FE;
	border-bottom: 62px solid #FFFFFF;
}

#esqueci_admin form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#esqueci_admin fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#esqueci_admin-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#esqueci_admin input.error { border: 1px solid red; }

#esqueci_admin label.error {
	background: url('/system/application/images/unchecked.gif') no-repeat;
	padding-left: 18px;
	margin-left: 61px;
}

#esqueci_admin .cl_esqueci_email {margin: 14px 0 2px; width: 325px;}
#esqueci_admin .lnk_voltar { float: left; margin: 10px 24px 0; font-size: 14px;}
#esqueci_admin .btn_senha_enviar {margin: 20px 103px 0;}
#esqueci_admin #loader {display: none; padding: 15px 0px 0 88px;}

#esqueci_admin .lb_esqueci_email{
	margin: 12px 0 0 0;
}

/* Login (div search) */

#search {
	float: left;
	width: 255px;
	height: 150px;
	padding: 15px 0px 0px 0px;
	background: #A8CF64;
	border-bottom: 57px solid #FFFFFF;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#edit .cl_edit_nm{
	margin-left: 11px;
	margin-bottom: 5px;
	font-family: tahoma;	
}

#edit .cl_edit_mail{
	margin-left: 13px;
	margin-bottom: 5px;
	font-family: tahoma;	
}

#edit .cl_edit_senh{
	margin-left: 8px;
	margin-bottom: 5px;
	font-family: tahoma;	
}

#edit .cl_edit_comb{
	margin-left: 10px;
	margin-bottom: 5px;
	font-family: tahoma;
	color: #329ADE;
}

#search .cl_login {margin-bottom: 5px; width: 155px;}
#search .cl_senha {margin-bottom: 5px; width: 155px;}

#search .lb_email{
	margin: 0 0 0 0;
}

#search .lb_senha{
	margin: 2px 0 0 0;
}

#search .lnk_cadastro{
	margin: -15px 0 0 0;
}

#search p {
	margin: 0;
	padding-top: 12px;
}

#search a{
	margin: 10px 25px 0px 0px;
	color: #FFFFE7; 
}

#search-submit {
	float: right;
	margin: 15px 22px 0px 0px;
	width: 50px;
	height: 23px;
	border: 1px solid #89B056;
	background: none;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

#search #loader {display: none; position: relative; margin: -32px 180px;}
#search input.error { border: 1px solid red; }

#search label.error {
		background: url('/system/application/images/unchecked.gif') no-repeat;
		padding-left: 16px;		
		margin-left: 58px;
}

/* Login Admin */

#login_adm {
	float: left;
	width: 255px;
	height: 150px;
	padding: 15px 0px 0px 0px;
	background: #D8E7FE;
	border-bottom: 57px solid #FFFFFF;
}

#login_adm form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 20px;
}

#login_adm fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#login_adm-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

#login_adm .cl_login {margin-bottom: 5px; width: 155px;}
#login_adm .cl_senha {margin-bottom: 5px; width: 155px;}

#login_adm .lb_email{
	margin: 0 0 0 0;
}

#login_adm .lb_senha{
	margin: 2px 0 0 0;
}

#login_adm .lnk_cadastro{
	margin: -15px 0 0 0;
}

#login_adm p {
	margin: 0;
	padding-top: 12px;
}

#login_adm a{
	margin: 10px 25px 0px 0px;
	color: #6295E8; 
}

#login_adm-submit {
	float: right;
	margin: 15px 22px 0px 0px;
	width: 50px;
	height: 23px;
	border: 1px solid #335B99;
	background: #6295E8;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

#login_adm #loader {display: none; position: relative; margin: -15px 180px;}
#login_adm input.error { border: 1px solid red; }

#login_adm label.error {
		background: url('/system/application/images/unchecked.gif') no-repeat;
		padding-left: 16px;		
		margin-left: 58px;
}

/* Menu */

#menu {
	width: 940px;
	height: 49px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	width: 155px;
	height: 33px;
	padding-top: 16px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #659CEF url(../images/img03.jpg) repeat-x left bottom;
	text-decoration: none;
}

#menu .current_page_item a {
	background: #FBFBFC url(../images/img02.jpg) repeat-x left bottom;
	padding-left: 0;
	color: #30476A;
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

#page-bgtop {
	padding: 20px;
}

#page-bgbtm {
}

/* Content */

#content {
	float: left;
	width: 620px;
	padding: 30px 0px 0px 0px;
	overflow:hidden;
}

.post {
	margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title_cadastro {
	margin-bottom: 10px;
	/* padding: 12px 0 0 196px; */
	letter-spacing: -.5px;
	color: #000000;
}

.post .title {
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #000000;
}

.post .title a {
	color: #32639A;
	border: none;
}

.post .meta {
	height: 30px;
	background: #D8E7FE;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .date {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #4A81DE;
}

.post .meta .posted {
	float: right;
	height: 24px;
	padding: 3px 15px;
	background: #A8CF64;
	color: #FFFFFF;
}

.post .meta a {
	color: #FFFFFF;
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 235px;
	padding: 0px;
	color: #787878;
	background: #FFFFFF;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
	border-left: 1px solid #E2E2E2;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D1D1D1;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	padding-top: 15px;
	letter-spacing: -.5px;
	font-size: 1.8em;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;	
	position:absolute;
	bottom:0;
	width:100%;	
	background: #D8E7FE;
	border-top: 1px solid #D3DEF0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #5389E0;
}

/* Footer Area Admin */

#footer_adm {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	position:absolute;
	bottom:0;
	width:100%;
	background: #6295E8;
	border-top: 1px solid #335B99;
	font-family: Arial, Helvetica, sans-serif;
}

#footer_adm p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer_adm a {
	color: #5389E0;
}

/* Admin Página Pesquisas */

.breadcrumb {
	color: #5389E0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.lnk_breadcrumb:hover {
	color: #5389E0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: underline;
}

#btn_nova_enquete, #btn_nova_pergunta {
	margin: 3px 25px 0px 0px;
	width: 92px;
	height: 23px;
	border: 1px solid #89B056;
	background: #A8CF64;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

#btn_nova_resposta {
	margin: 3px 25px 0px 0px;
	width: 95px;
	height: 23px;
	border: 1px solid #89B056;
	background: #A8CF64;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

#btn_editar_enquete, #btn_editar_pergunta, #btn_editar_resposta {
	margin: 3px 25px 0px 529px;
	width: 50px;
	height: 23px;
	border: 1px solid #335B99;
	background: #6295E8;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	position: relative;
	top: -29px;
	left: -22px;
	cursor: pointer;	
}

#btn_excluir_enquete, #btn_excluir_pergunta, #btn_excluir_resposta {
	margin: 3px 25px 0px 529px;
	width: 50px;
	height: 23px;
	border: 1px solid #335B99;
	background: #6295E8;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	position: relative;
	top: -55px;
	left: 33px;
	cursor: pointer;
}

.post .meta_botao {
	height: 30px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

.post .meta .span_responder_pesquisa {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #4A81DE;
	text-decoration: none;
}

.post .meta .span_pergunta_pesquisa {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #4A81DE;
	text-decoration: none;	
}

.post .meta .lnk_pesquisa {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #4A81DE;
	text-decoration: none;
}

.post .meta .lnk_pesquisa:hover {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #f00;
	text-decoration: underline;
}

.post .meta .lnk_pergunta {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #758F47;
	text-decoration: none;
}

.post .meta .lnk_pergunta:hover {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #f00;
	text-decoration: underline;
}

.post .meta .span_resposta {
	float: left;
	height: 24px;
	padding: 3px 15px;
	color: #758F47;
	text-decoration: none;
}

#btn_respostas {
    /* margin: 3px 25px 0px 529px; */
	width: 80px;
	height: 23px;
	border: 1px solid #335B99;;
	background: #6295E8;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	position: relative;
	cursor: pointer;
}

#btn_editar_pergunta {
	/* margin: 3px 25px 0px 529px; */
	width: 50px;
	height: 23px;
	border: 1px solid #89B056;
	background: #A8CF64;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	position: relative;
	cursor: pointer;	
}

#btn_excluir_pergunta {
	/* margin: 3px 25px 0px 529px; */
	width: 50px;
	height: 23px;
	border: 1px solid #89B056;
	background: #A8CF64;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	position: relative;
	cursor: pointer;
}

#btn_responder_pesquisa {	
	height: 23px;
	border: 1px solid #89B056;
	background: #A8CF64;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;	
}

#div_responder_pesquisa {
	margin: -27px 0 0 536px;
	position: relative;
}

/* Admin Cadastro Enquete - Pesquisa */

#enquete_pesquisa {
	width: 660px;
	height: 425px;
	padding: 0;
	border-bottom: 62px solid #FFFFFF;
}

#enquete_pesquisa form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0;
}

#enquete_pesquisa fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#enquete_pesquisa-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

.cl_enq_titulo {margin: 5px 2px 2px; width: 350px;}
.cl_enq_descricao {margin: 5px 2px 2px; width: 350px;}
.div_enquete_salvar #loader {display: none; padding: 10px 15px;}

#enquete_pesquisa input.error { border: 1px solid red; }

#enquete_pesquisa label.error {
		background: url('/system/application/images/unchecked.gif') no-repeat;
		padding-left: 16px;		
		margin-left: 5px;
}

#enquete-submit {
	margin: 15px 25px 0 3px;
	width: 50px;
	height: 23px;
	border: 1px solid #335B99;
	background: #6295E8;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

/* Admin Cadastro Perguntas - Pesquisa */

#pergunta_pesquisa {
	width: 660px;
	height: 425px;
	padding: 0;
	border-bottom: 62px solid #FFFFFF;
}

#pergunta_pesquisa form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0;
}

#pergunta_pesquisa fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#pergunta_pesquisa-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

.cl_enq_pergunta {margin: 5px 2px 6px; width: 450px;}
.cl_pergunta_tipo {margin: 5px 2px 2px; width: 176px;}
.div_pergunta_salvar #loader {display: none; padding: 10px 15px;}

#pergunta_pesquisa input.error { border: 1px solid red; }

#pergunta_pesquisa label.error {
		background: url('/system/application/images/unchecked.gif') no-repeat;
		padding-left: 16px;		
		margin-left: 5px;
}

#pergunta-submit {
	margin: 15px 25px 0 3px;
	width: 50px;
	height: 23px;
	border: 1px solid #335B99;
	background: #6295E8;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

/* Admin Cadastro Respostas - Pesquisa */

#resposta_pesquisa {
	width: 660px;
	height: 425px;
	padding: 0;
	border-bottom: 62px solid #FFFFFF;
}

#resposta_pesquisa form {
	height: 41px;
	margin: 0;
	padding: 10px 0 0 0;
}

#resposta_pesquisa fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#resposta_pesquisa-text {
	width: 170px;
	padding: 6px 5px 2px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #5D781D;
}

.cl_enq_resposta {margin: 5px 2px 6px; width: 450px;}
.div_resposta_salvar #loader {display: none; padding: 10px 15px;}

#resposta_pesquisa input.error { border: 1px solid red; }

#resposta_pesquisa label.error {
		background: url('/system/application/images/unchecked.gif') no-repeat;
		padding-left: 16px;		
		margin-left: 5px;
}

#resposta-submit {
	margin: 15px 25px 0 3px;
	width: 50px;
	height: 23px;
	border: 1px solid #335B99;
	background: #6295E8;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

/* Pesquisas Responder - Front */

.alternativa {font-family: Arial,Helvetica,sans-serif; font-weight: bold; color: #787878;}
.dv_resposta_pesquisa_salvar {margin: 35px 125px 0;}
.lnk_voltar {float: left; margin: 10px 24px 0; font-size: 14px;}
.dv_resposta_pesquisa_salvar #loader {display: none; padding: 15px 0px 0 230px;}

#pesquisa-submit {
	float: right;
	margin: 15px 22px 0px 0px;
	width: 50px;
	height: 23px;
	border: 1px solid #335B99;
	background: #6295E8;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;
}

/* Admin Relatórios - Pesquisa */

.dv_relatorio_pesquisa_voltar {margin: 35px 255px 0;}

#div_visualizar_relatorio {
	margin: -27px 0 0 490px;
	position: relative;
}

#btn_visualizar_relatorio {	
	height: 23px;
	border: 1px solid #89B056;
	background: #A8CF64;
	font-weight: bold;
	font-size: 10px;
	color: #FFFFFF;
	cursor: pointer;	
}